a.detail-thumb {
    display: block;
    width: 349px;
}

.detail {
    width: 430px;
}

p.detail-p-title {
    font-size: 24px;
    margin: 0;
    color: #222;
    text-transform: uppercase;
}

p.code {
    margin: 15px 0;
    color: #777;
}

p.code i {
    color: #91b633;
    margin-right: 10px;
}

p.price .new-price {
    color: #af8a4e;
    font-size: 28px;
}

p.price .old-price {
    color: #949494;
    font-size: 18px;
}

p.desc {
    font-size: 14px;
    color: #777;
    text-align: justify;
    margin: 10px 0;
}

p.qty {
    color: #777;
    margin-bottom: 20px;
}

p.qty input {
    margin-left: 15px;
    width: 40px;
    color: #777;
    border: 1px solid #d5d5d5;
}

a.btn-p {
    display: inline-block;
    padding: 15px 18px;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
}

.btn-add {
    background: #029900;
}

.btn-buy {
    background: #e60f1e;
}

p.pay-method {
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
}

p.pay-method a {
    display: inline-block;
    margin-left: 13px;
    color: #777;
}

#product {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    padding-bottom: 35px;
    border-bottom: 2px solid #e9f1f8;
}

#product-description {
    padding-top: 25px;
    margin-bottom: 50px;
}

ul.p-desc-list {
    display: flex;
}

ul.p-desc-list li {
    margin-right: 5px;
}

ul.p-desc-list li a {
    display: inline-block;
    color: #555;
    padding: 15px 20px;
    background: #e9f1f8;
}

.p-desc-body {
    border: 1px solid #d9e8f4;
    padding: 30px 20px;
}

.p-desc-body p {
    margin: 20px 0;
    font-size: 14px;
    color: #777;
    text-align: justify;
}

.p-desc-body img {
    margin: 0 auto;
}

p.center {
    text-align: center;
}