.product-item {
    border: 1px solid #c9c9c9;
    transition: all .5s;
    margin-bottom: 15px;
}

.product-item:hover {
    border: 1px solid #b63838;
    box-shadow: 0 0 8px rgb(194, 194, 194);
}

.product-thumb {
    border-bottom: 1px solid #c9c9c9;
    overflow: hidden;
}

.product-thumb a img {
    transition: all .5s;
}

.product-thumb a img:hover {
    transform: scale(1.05);
}

.product-detail {
    padding: 17px 0 20px 0;
    text-align: center;
}

.product-title {
    color: #212121;
    font-size: 18px;
}

.product-title:hover {
    color: #b63838;
}

.product-detail p {
    margin: 10px 0;
    font-size: 18px;
}

.btn-add {
    background: #eee;
    font-size: 14px;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    transition: all .5s;
}

.btn-add:hover {
    color: #b63838;
}